@font-face {
  font-family: 'Bebas'; 
  src: url('Fonts/Bebas Neue Cyrillic.ttf') format('woff2');
  font-weight: 400; 
  font-style: normal; 
  }
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  background: black;
  padding: 1vw 0 0 0;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo, .footer_logo {
  width: 12vw;
  height: 8vw;
}

.logo {
  filter: invert(1);
}

.header_number {
  display: flex;
  gap: 70px;
}

.phone_flex {
  display: flex;
  flex-direction: column;
}

.phone {
  display: inline;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.phone, .address {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: white;
}

.header_phone-img {
  width: 2.5vw;
  height: 2.5vw;
  display: inline;
  vertical-align: middle;
  margin: -0.3vw 0.3vw 0 0;
}

.header_address {
  margin: auto auto;
}

.message_flex {
  display: flex;
  gap: 3vw;
}

.message {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.nav {
  padding: 10px 0 10px 0;
  background: black;
  border-top: 1px solid rgb(230 223 205);
  border-bottom: 1px solid rgb(230 223 205);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav_wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-width: 100%;
}

.nav-menu_link {
  text-decoration: none;
  color: white;
  font-size: 2.3vw;
  font-weight: 400;
  filter: saturate(200%);
}

.nav-menu_link.none {
  display: none;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  transition: .4s;
  height: 1px;
  z-index: 1;
  border-radius: 4px 4px 4px 4px;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.content {
  width: 100%;
  aspect-ratio: 16/8;
  background: #000;
  background-image: url(img/Mask_1.png);
  background-repeat: no-repeat;
  background-size: 45vw auto; 
  background-position: left 0 bottom -1.9vw; 
  filter: saturate(150%);
  box-shadow: 0 50px 100px #950ebe33;
}

.content_text {
  margin: 0 auto;
  width: 75vw;
  padding: 3% 0 0 50%;
  filter: saturate(200%);
}

.content_text-p {
  font-size: 9vw;
  font-weight: 400;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  padding-right: 4vw;
  padding-top: 10vw;
  text-align: right;
  color: #ff6b6b; 
  background: linear-gradient(to right, #ff9800, #9400D3, #ff9800);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Motorcycles Section Styles */
.motorcycles {
  padding: 6vw 0;
  background-color: #333;
  color: #eee;
}

.motorcycles h2 {
  font-size: 7vw;
  text-align: center;
  margin-bottom: 5vw;
  font-weight: 400;
  color: rgb(255 54 0); 
}

.motorcycle-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.motorcycle-card {
  background-color: #222;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 30px #950ebe33;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding-bottom: 1rem;
}

.motorcycle-card:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 30px #950ebe33;
}

.motorcycle-card img {
  width: 80%;
  display: block;
  border-bottom: 0.1rem solid #444;
  margin: 1vw auto 0;
}

.motorcycle-card h3 {
  font-size: 5vw;
  margin: 2vw 0 1vw;
  font-weight: 400;
  color: rgb(255 54 0);
}

.moto_flex {
  display: flex;
  justify-content: space-around;
}

.motorcycle-card p {
  font-family: 'Montserrat', sans-serif;
  padding: 0 2vw;
  margin-bottom: 1.2vw;
  font-size: 1.2vw;
  font-weight: 400;
}

.motorcycle-card .price {
  font-size: 4vw;
  font-weight: 400;
  color: #ffffff; 
}

.button-container {
  padding: 1vw 1vw 0;
}

/* Button Styles */
.button {
  display: inline-block;
  background-color: rgb(255 54 0); 
  color: #fff;
  padding: 1.1vw 1.5vw;
  text-decoration: none;
  border-radius: 0.7vw;
  font-size: 2vw;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to right, #ff9800, #9400D3, #ff9800);
  background-size: 200% auto;
  animation: gradient-animation 2s infinite alternate;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.button:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* Equipment Section Styles */
.equipment {
  padding: 6vw 0;
  background-color: #ffffff; 
  color: #000000;
  font-weight: 400;
}

.equipment h2 {
  font-size: 7vw;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1.5vw;
  color: rgb(255 54 0); /
}

.equipment p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 2vw;
  font-size: 2vw;
  font-weight: 400;
}

.equipment-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2vw;
  text-align: center;
}

.equipment-item {
  background-color: #333;
  padding: 2vw;
  border-radius: 1.5vw;
  /* box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3); */
  box-shadow: 0 10px 30px #950ebe33;
}

.equipment-item img {
  width: 40vw;
  height: 22vw;
  object-fit: contain;
  margin: 0 auto;
}

.equipment-item h3 {
  font-size: 4vw;
  margin: 2vw 0 1vw 0;
  color: rgb(255 54 0); 
  font-weight: 400;
}

.equipment-item p {
  font-size: 1.3vw;
  margin-bottom: 0vw;
  color: #ffffff;
}

.equipment-note {
  text-align: center;
  margin-top: 2.5vw;
  font-style: italic;
  color: #5b5454;
  }

/* Gift Certificate Section Styles */
.gift-certificate {
  padding: 5vw 0;
  background-color: #333;
  color: #eee;
}

.gift-certificate h2 {
  font-size: 7vw;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3vw;
  color: rgb(255 54 0); 
}

.gift-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.gift-content img {
  max-width: 40%;
  height: auto;
  border-radius: 1vw;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 10px 30px #950ebe33; */
}

.gift-text {
  max-width: 60%;
  font-size: 1.4vw;
  font-weight: 400;
}

.gift-text p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.5vw;
  font-weight: 400;
}

/* Rental Conditions Section Styles */
.rental-conditions {
  padding: 5vw 0 4vw 0;
  background-color: #ffffff;
  color: #000000;
}

.rental-conditions h2 {
  font-size: 7vw;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(255 54 0); 
}

.rental-text {
  font-weight: 400;
  font-size: 1.5vw; 
}

.rental-text p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  font-weight: 400;
}   

.rental-conditions .rental_min {
  font-size: 5vw;
}
/* Footer*/
.footer {
  background: black;
  padding-top: 3vw;
}





.maps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 1rem;
  justify-content: center;
}
.maps_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Ограничиваем максимальную ширину карты */
  margin: 0 auto;
}
.maps iframe {
  width: 100%;
  height: 18rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
} 





.maps_h {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1vw;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0 0 0;
}

.footer_address-text {
  padding: 0.5vw 0 0.5vw 0;
  font-size: 2vw;
  text-align: center;
}

.footer_phone-flex {
  display: flex;
  align-items: center;
}
.footer_phone-flex_1 {
  display: flex;
  width: 25vw;
  align-items: center;
}
.message_footer {
  width: 30vw;
  justify-content: end;
  align-items: center;
}

.address_footer {
  font-size: 2vw;
}

.phone_footer {
  font-size: 2vw;
}

.links-footer {
  font-size: 2vw;
}

.hr {
  border-bottom: 1px solid rgb(227 221 205);
}

.footer_message {
  width: 3.5vw;
  height: 3.5vw;
}

.footer_copyrights{
  padding: 1vw;
}

.footer_text-p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1vw;
}

.ofer {
  display: flex;
  justify-content: space-between;
}

@media (max-width:1155px) {
  .equipment-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:1105px) {
  .equipment-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@media (max-width:1100px) {
  .footer_message {
    font-size: 5vw;
  }
}

@media (max-width:800px) {
.gift-content {
  flex-direction: column;
}
.gift-content img {
  max-width: 80%;
}
.gift-text {
  max-width: 100%;
  text-align: center;
}
}
@media (max-width:743.5px) {
  .motorcycle-card p {
    font-size: 2.3vw;
  }
  .button {
    font-size: 3vw;
  }
  .equipment p {
    font-size: 2.7vw;
  }
  .equipment-item p {
    font-size: 2.3vw;
  }
  .gift-text p {
    margin-bottom: 2.3vw;
  }
  .gift-text {
    font-size: 2.3vw;
  } */
    .rental-text {
    font-size: 2.3vw;  
  } 
  .links-footer {
    font-size: 2.3vw;
  }  
  .address_footer {
    font-size: 2.3vw;
  }
  .footer_address-text {
    font-size: 2.3vw;
  }
  .maps_h {
    font-size: 2.3vw;
  }
}
@media (max-width:640px) { 
  .equipment-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .maps {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  /* .maps iframe {
    width: 80%;
  }  */
  
}

@media (max-width:600px) {
  .container {
    padding: 0 20px 0 20px;
  }
  .header {
    border-bottom: 1px solid rgb(230 223 205);
  }
  .header_number {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav-menu_link.none {
    display: block;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    cursor: pointer;
  }
  .header_logo {
    width: 15vw;
    height: 10vw;
  }
  .bar {
    display: block;
    width: 7vw;
    height: 0.5vw;
    margin: 1vw auto;
    background-color: white;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 11vw;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .nav_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .nav_wrap  {
    width: 100%;
  }
  .popup .nav_wrap > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    font-size: 7vw;
    font-weight: bold;
    color: rgb(255 54 0);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(1.4vw) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-1.4vw) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  
  .header_phone-img {
    width: 3vw;
    height: 3vw;
  }
  .message {
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width:530.5px) { 
.equipment-item p {
  font-size: 2.5vw;
} 
.rental-text {
  font-size: 2.5vw;  
}  
.footer_flex {
  flex-direction: column;
  gap: 1vw;
  padding: 2vw 0 2vw 0;
}
.links-footer {
  font-size: 4vw;
}  
.address_footer {
  font-size: 4vw;
}
.footer_address-text {
  font-size: 4vw;
}  
.maps_h {
  font-size: 4vw;
}




  .maps iframe {
    width: 85%;
  } 



.message_flex {
  justify-content: space-between;
  
}
.message_footer {
  width: 50vw;
}
.footer_phone-flex_1 {
  width: 50vw;
  justify-content: space-evenly;
}
.message {
  width: 7vw;
  height: 7vw;
}
}

@media (max-width:460px) { 
.motorcycle-card .price {
    font-size: 5.3vw;
  }  
.motorcycle-card p {
  font-size: 3.5vw;
}
.button {
  font-size: 4vw;
}
.equipment p {
  font-size: 3.5vw;
}
.equipment-item p {
  font-size: 3.5vw;
}
.gift-text p {
  margin-bottom: 3.5vw;
}
.gift-text {
  font-size: 3.5vw;
} 
 .rental-text {
  font-size: 3.5vw;  
}  
.maps_h {
  font-size: 3.5vw;
}
.moto_flex p {
  font-size: 3vw;
}
}


@media (max-width:360px) { 

  .motorcycle-list {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}
@media (max-width:280px) { 
 .equipment-list {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  } 
  .maps iframe {
    width: 85vw;
    height: 50vw;
    box-shadow: 0 0.1rem 0.3rem #950ebe33;
  } 
  .maps {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
} 


@media (max-width:200px) { 
  .motorcycle-list {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
  .equipment-list {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  } 
}


/* Disable hover effects on touch devices */
@media (hover: none) {
  .button:hover {
    transform: none;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }
  
  .motorcycle-card:hover {
    transform: none;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .about-gallery img:hover {
    transform: none;
  }
}
